<div class="color-row margin-bot">
    <h2>Linki</h2>
    <ul> 
        <li>
            <a href="https://www.codewars.com/users/Daw90" target="_blank" rel="noopener noreferrer">
                Codewars
            </a> 
        </li>  
        <li>              
            <a href="https://github.com/Daw990" target="_blank" rel="noopener noreferrer">
                Github
            </a> 
        </li>  
        <li>              
            <a href="www.linkedin.com/in/dm-info" target="_blank" rel="noopener noreferrer">
                LinkedIn
            </a> 
        </li>  
    </ul>  
        <h2>Menu</h2>
        <ul>
            <li>
                <a href="/">O mnie</a>
            </li>
            <li>
               <a href="/projects">Projekty</a>
               <ul>
                <li>
                    <a href="/projects#hairdresser">hairdresserSaveData</a>
                </li>
                <li>
                    <a href="/projects#carsharing">Car-Sharing-RestApi</a>
                </li>
                <li>
                    <a href="/projects#carmechanic">Car-Mechanic</a>
                </li>
                <li>
                    <a href="/projects#oauth">OAuth with Google and GitHub</a>
                </li>
                <li>
                    <a href="/projects#quiz">Android-Studio-Quiz</a>
                </li>
               </ul>
           </li>
            <li>
                <a href="/contact">Kontakt</a>
            </li>
        </ul>            
</div>