<header>
    <nav class="navbar navbar-expand-md navbar-light justify-content-center">
         <a class="navbar-brand" href="/">
             <img src="../img/daw_logo.png" style="width:40px;">
             awid Marszałkowski
         </a>
     
         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
         </button>
     
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav ml-auto flex-nowrap">
                 <li class="nav-item">
                     <a href="/" class="nav-link">O mnie</a>
                 </li>
                 <li class="nav-item">
                    <a href="/projects" class="nav-link">Projekty</a>
                </li>
                 <li class="nav-item">
                     <a href="/contact" class="nav-link">Kontakt</a>
                 </li>
                 <li class="dropdown">
                     <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Notatki<span class="caret"></span></a>
                     <ul class="dropdown-menu" role="menu">
                         <li><a href="/note/note" class="nav-link">notatki</a></li>
                         <li><a href="/note/ut2004" class="nav-link">UT2004</a></li>
                         <li><a href="/note/savings-counter" class="nav-link">Licznik oszczędności</a></li>
                         <hr>
                         <li><a th:if="authenticated" href="/logout" class="nav-link">Logout</a></li>
                     </ul>
                 </li>
             </ul>
         </div>
     </nav>
</header>