<header xmlns:sec="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-md navbar-light justify-content-center">
         <a class="navbar-brand" style="position: relative;" href="/">
             <img src="../img/daw_logo.png" style="width:40px; position: absolute;">
             <p style="margin-left: 42px;">awid Marszałkowski</p>
             <p style="margin-left: 110px; margin-top: -15px; font-size: x-small; position: absolute;">Application Developer</p>
         </a>

         <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                 aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
         </button>
     
         <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav ml-auto flex-nowrap">
                 <li class="nav-item">
                     <a href="/" class="nav-link">O mnie</a>
                 </li>
                 <li class="nav-item">
                    <a href="/projects" class="nav-link">Projekty</a>
                </li>
                 <li class="nav-item">
                     <a href="/contact" class="nav-link">Kontakt</a>
                 </li>
                 <li class="dropdown">
                     <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">Notatki<span class="caret"></span></a>
                     <ul class="dropdown-menu" role="menu">
                         <li><a href="/note/note" class="nav-link">notatki</a></li>
                         <li><a href="/note/ut2004" class="nav-link">UT2004</a></li>
                         <li><a sec:authorize="isAuthenticated()" href="/note/savings-counter" class="nav-link">Licznik oszczędności</a></li>
                         <li><a href="/note/linux-wiki" class="nav-link">Linux wiki</a></li>
                         <li><a href="/note/api" class="nav-link">Api</a></li>
                         <hr>
                         <li><a sec:authorize="isAuthenticated()" href="/logout" class="nav-link">Wyloguj</a></li>
                         <li><a sec:authorize="!isAuthenticated()" href="/login" class="nav-link">Zaloguj</a></li>
                     </ul>
                 </li>
             </ul>
         </div>
     </nav>
</header>