<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/social.css">

    <link rel="icon" href="../img/daw_logo.png">

    <title>Dawid Marszałkowski - Notatki </title>
</head>
<body>

<div th:insert="staticContent/navbar.html :: header"></div>

<div class="container">
    <div class="row row-margin">
        <div class="col-md-9 color-row">
            <h2>API - cytaty</h2>
            <hr>
            <div><span>Wszystkie cytaty - </span><a href="/api/cytaty">/api/cytaty</a></div>
            <div><span>Losowy cytat  - </span><a href="/api/random-cytat">/api/random-cytat</a></div>
            <br>
            <h2>API - Licznik oszczędności</h2>
            <hr>
            <div><span>Rachunki - </span><a href="/api/expenses/rachunki">/api/expenses/rachunki</a></div>
            <div><span>Produkty finansowe - </span><a href="/api/expenses/produkty-finansowe">/api/expenses/produkty-finansowe</a></div>
            <div><span>Wydatki domowe - </span><a href="/api/expenses/wydatki-domowe">/api/expenses/wydatki-domowe</a></div>
            <div><span>Edukacja - </span><a href="/api/expenses/edukacja">/api/expenses/edukacja</a></div>
            <div><span>Inne - </span><a href="/api/expenses/inne">/api/expenses/inne</a></div>
            <br>
            <h2>API - Weather</h2>
            <hr>
            <h5>w miejsce {city} wpisujemy nazwę miasta. Przykład:</h5>
            <a href="/api/weather/weather?city=warszawa">/api/weather/weather?city=warszawa</a>
            <br><br>
            <div><span>Aktualna pogoda - </span><a href="/api/weather/weather?city=warszawa">/api/weather/weather?city={city}</a></div>
            <div><span>Aktualna pełna pogoda na 8 dni - </span><a href="/api/weather/weather-daily?city=warszawa">/api/weather/weather-daily?city={city}</a></div>
        </div>

    </div>
</div>

<span class="scrollTopButton"></span>

<div th:include="staticContent/footer.html">
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="../js/simple-slide.js" type="text/javascript"></script>
</body>
</html>