<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/style.css">

    <link rel="icon" href="../img/daw_logo.png">

    <title>Dawid Marszałkowski - Notatki </title>
  </head>
  <body>

  <div th:insert="staticContent/navbar.html :: header"></div>

  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div class="color-row margin-bot">
            <h2>
                Rozrywka
            </h2>
            <hr>
            <div class="center-slider">
                <div>
                    <img src="/img/rozrywka/utLogo.jpg" class="img-size" style="width:40%">
                </div>
            </div> 
            <ol>
                <li>
                    Pobierz: 
                    <a href="https://drive.google.com/drive/folders/1AMF6JtX3oScRqg15UmZo4rF_Ad7St5Xt?usp=sharing" target="_blank" rel="noopener noreferrer">
                    UT2004 GoogleDrive
                    </a>
                </li>
                <li>
                    Wypakuj
                </li>
                <li>
                    Zainstaluj
                </li>
                <li>
                    Uruchom
                </li>
                <li>
                    <div>
                        <img src="/img/rozrywka/joingame.jpg" class="img-size" style="width:40%">
                    </div>
                </li>
                <li>
                    PPM w zakładce "Internet" wybieramy "open ip"
                    <div>
                        <img src="/img/rozrywka/ppminternet.jpg" class="img-size center-img" style="width:100%">
                    </div>
                </li>
                <li>
                    W polu "adress IP" wpisujemy: <b>3.68.163.210:7777</b> hasło: <b>1234</b>
                    <div>
                        <img src="/img/rozrywka/setip.jpg" class="img-size" style="width:100%">
                    </div>
                </li>
                <li>
                    zmiana nicku: W trakcie gry wciskamy "~" (tylda) wpisujemy w konsoli:  
                    <b>setname mojNick</b>
                </li>
            </ol>
        </div>
      </div>
    </div>
  </div>

  <span class="scrollTopButton"></span>

  <div th:include="staticContent/footer.html">
  </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="../js/load-content.js" type="text/javascript"></script>
    <script src="../js/simple-slide.js" type="text/javascript"></script>
</body>
</html>