<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/social.css">

  <link rel="icon" href="img/daw_logo.png">

  <title>Dawid Marszałkowski - Kontakt</title>
</head>
<body>

<div th:insert="static/navbar.html :: header"></div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div th:insert="static/about-me.html">
      </div>
    </div>
    <div class="col-md-8">
      <div class="color-row margin-bot">
        <h2>Kontakt</h2>
        <hr>
        <P>E-mail: <b>dawid.990m@gmail.com</b></P>
        <div class="template-demo">
          <a href="www.linkedin.com/in/dm-info" target="_blank" rel="noopener noreferrer">
            <button class="btn btn-sm btn-social-icon btn-linkedin btn-rounded">
              <i class="fa fa-linkedin"></i></button> </a>
        </div>
      </div>
    </div>
  </div>
</div>

<span class="scrollTopButton"></span>
<div th:include="static/footer.html"></div>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script
        src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="js/simple-slide.js"></script>
</body>
</html>