<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/social.css">

    <link rel="icon" href="img/daw_logo.png">

    <title>Dawid Marszałkowski - Projekty</title>
  </head>
  <body>

    <div id="navbar-include">
    </div>

    <div class="container">
        
        <div class="row">
            <div class="col-md-4">
                <div id="fastmenu-include" class="sticky-top">
                </div>
            </div>
            <div class="col-md-8">
                <div class="color-row margin-bot" id="hairdresser">
                    <h2>hairdresserSaveData</h2>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">                             
                            <div id="slidehair" class="center-slider">
                                <div>
                                  <img src="img/hair/cennikB.png" class="img-size">
                                </div>
                                <div>
                                  <img src="img/hair/newVisit.png" class="img-size">
                                </div>
                                <div>
                                    <img src="img/hair/rej.png" class="img-size">
                                  </div>
                                  <div>
                                    <img src="img/hair/wizyty.png" class="img-size">
                                  </div>
                                  <div>
                                    <img src="img/hair/login.png" class="img-size">
                                  </div>
                             </div>
                        </div>
                        <div class="col-md-6">
                            <p>
                                Aplikacja stworzona na potrzeby zarządzania salonem fryzjerskim z poziomu trzech przypisanych ról o różnych przywilejach
                                Opcja rejestracji z potwierdzeniem wysyłanym na maila.
                            </p>
                            <ul>
                                <li>
                                    "USER" - klient zakładu
                                </li>
                                <li>
                                    "ADMIN" - pracownik zakładu
                                </li>
                                <li>
                                    "BOSS" - szef zakładu
                                </li>
                            </ul>
                            <div>Film z prezentacją aplikacji: (polecam włączyć napisy)</div>
                            <a href="https://youtu.be/ifbzxDRLzcA" target="_blank" rel="noopener noreferrer">
                                HairdresserSaveData - Prezentacja aplikacji</a> youtube.com
                            <br> 
                            <div>GitHub:</div>
                            <a href="https://github.com/Daw990/hairdresserSaveData" target="_blank" rel="noopener noreferrer">
                                /Daw990/hairdresserSaveData</a>
                        </div>
                        <div class="col techs">
                            <h5>Wykorzystane technologie:</h5> 
                            <span>Spring Boot, Spring Security, JPA, Hibernate, Thymeleaf, Maven, Mysql, JUnit/AssertJ</span>
                        </div>  
                    </div>

                </div>
                <div class="color-row margin-bot" id="carsharing">
                    <h2>Car-Sharing-RestApi</h2>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">                             
                            <div id="sliderest" class="center-slider">
                                <div>
                                  <img src="img/rest/swager.png" class="img-size">
                                </div>
                                <div>
                                  <img src="img/rest/models.png" class="img-size">
                                </div>
                                <div>
                                    <img src="img/rest/get.png" class="img-size">
                                </div>
                             </div>
                        </div>
                        <div class="col-md-6">
                            <p>Aplikacja typu REST pokazująca jak pozbyć się problemu wydajnościowego
                                hibernate n+1, który polega na wysyłaniu wielu małych zapytań do bazy zamiast jednego większego.
                            </p>
                            <div>GitHub:</div>
                            <a href="https://github.com/Daw990/Car-Sharing-RestApi" target="_blank" rel="noopener noreferrer">
                                /Daw990/Car-Sharing-RestApi</a>
                        </div>
                        <div class="col techs">
                            <h5>Wykorzystane technologie:</h5> 
                            <span>Spring Boot, JPA, Hibernate, Gradle, H2, Swagger, JUnit</span>
                        </div>  
                    </div>
                </div>
                <div class="color-row margin-bot" id="carmechanic">
                    <h2>Car-Mechanic</h2>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="slidecar" class="center-slider">
                                <div>
                                  <img src="img/sitecar/car-visits.png" class="img-size">
                                </div>
                                <div>
                                  <img src="img/sitecar/car-price.png" class="img-size">
                                </div>
                                <div>
                                    <img src="img/sitecar/car-editprice.png" class="img-size">
                                  </div>
                                  <div>
                                    <img src="img/sitecar/car-add.png" class="img-size">
                                  </div>
                             </div>         
                        </div>
                        <div class="col-md-6">
                            <p>
                                Aplikacja do zarządzania czasem w mechanice samochodowej, w której pracownik może edytować cennik, 
                                zarządzać wizytami, dodawać swoje samochody oraz zapisywać wizyty. Aplikacja podobna do hairdresserSaveData. 
                            </p>
                            <div>GitHub:</div>
                            <a href="https://github.com/Daw990/Car-Mechanic" target="_blank" rel="noopener noreferrer">
                                /Daw990/Car-Mechanic</a>
                        </div>  
                        <div class="col techs">
                            <h5>Wykorzystane technologie:</h5> 
                            <span>Spring Boot, Spring Security, JPA, Hibernate, Thymeleaf, Maven, Mysql</span>
                        </div>                     
                    </div>
                </div>
                <div class="color-row margin-bot" id="oauth">
                    <h2>OAuth with Google and GitHub</h2>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="slideauth" class="center-slider">
                                <div>
                                  <img src="img/oauth/chooseacc.png" class="img-size">
                                </div>
                                <div>
                                  <img src="img/oauth/googleoauth.png" class="img-size">
                                </div>
                                <div>
                                    <img src="img/oauth/githuboauth.png" class="img-size">
                                </div>
                                <div>
                                    <img src="img/oauth/oauthmain.png" class="img-size">
                                </div>
                                <div>
                                    <img src="img/oauth/loginoauth.png" class="img-size">
                                </div>
                             </div>         
                        </div>
                        <div class="col-md-6">
                            <p>
                                Aplikacja pokazująca możliwość zalogowania za pomocą protokołu OAuth2. Dzięki któremu możemy zalogować się do 
                                aplikacji bez konieczności rejestracji za pośrednictwem w tym przypadku Google oraz Github
                            </p>
                            <div>GitHub:</div>
                            <a href="https://github.com/Daw990/OAuth2-Google-Github" target="_blank" rel="noopener noreferrer">
                                /Daw990/OAuth2-Google-Github</a>
                        </div>  
                        <div class="col techs">
                            <h5>Wykorzystane technologie:</h5> 
                            <span>Spring Boot, Spring Security, Thymeleaf, Maven</span>
                        </div>                     
                    </div>
                </div>
                <div class="color-row margin-bot" id="quiz">
                    <h2>Android-Studio-Quiz</h2>
                    <hr>
                    <div class="row">
                        <div class="col-md-6">
                            <div id="slidequiz" class="center-slider">
                                <div>
                                  <img src="img/quiz/quizstart.png" class="img-size" style="width:50%;">
                                </div>
                                <div>
                                  <img src="img/quiz/quiz1.png" class="img-size" style="width:50%;">
                                </div>
                                <div>
                                    <img src="img/quiz/quiz2.png" class="img-size" style="width:50%;">
                                </div>
                                <div>
                                    <img src="img/quiz/quizend.png" class="img-size" style="width:50%;">
                                </div>
                             </div>         
                        </div>
                        <div class="col-md-6">
                            <p>
                                krótki quiz napisany na systemy android w jezyku Kotlin.
                            </p>
                            <div>GitHub:</div>
                            <a href="https://github.com/Daw990/Android-Studio-Quiz" target="_blank" rel="noopener noreferrer">
                                /Daw990/Android-Studio-Quiz</a>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>
    </div>

    <span class="scrollTopButton"></span>

    <div id="footer-include">
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
    src="https://code.jquery.com/jquery-3.6.0.js"
    integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="js/load-content.js"></script>
    <script src="js/simple-slide.js"></script>
</body>
</html>