/* Background pattern from Toptal Subtle Patterns */
body, html {
    background-image: url(../img/criss-cross.png);
    margin:0;
    padding:0;
    min-height: 100%;
}

nav {
    margin-left: 5%;
    margin-right: 5%;
}

footer {
    background-color: #d9d9d9;
    min-height: 50px;
    height: auto;
    padding-left: 5%;
    padding-right: 10%;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    bottom:0;
    width:100%;
}

header {
    background-color: white;
}

h2 {
    font-size: 20px;
    font-weight: bold;
}
pre {
    background-color: #f3f3f3;
    padding: 10px 10px;
    border-radius: 8px;
    font-size: 14px;
    margin-top: 8px;
}

a {
    color: #F39117;
}
a:active {
    background-color: #F39117;
}

a:hover{
    color: #F39117;
}

.row-margin {
    margin-top: 25px;
    margin-bottom: 25px;
}

.container {

    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    min-height: 100%;
    position:relative;
}

.center-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    padding-top: 20px;
}

.color-row {
    background-color: white;
    padding: 40px 40px;
}

.color-row-linux {
    background-color: white;
    padding: 20px;
}

.color-row-cytat {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 170px;
    padding: 10px 50px;
}

#cytatyData {
    text-align: center;
}

.cytat-design {
    text-align: center;
    font-style: italic;
    font-size: large;
}

.cytat-author-design {
    text-align: right;
    font-size: small;
}

.space-bottom {
    padding-bottom: 25px;;
}

.bold {
    font-size: bold;
}

.margin-bot {
    margin-bottom: 15px;
}

.center-slider {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: block;
    padding-bottom: 20px;
}

.center-slider-linux {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    display: block;
}

.img-size {
    max-width: 100%;
    max-height: 100%;
    width: auto;
}

.techs {
    padding-top: 25px;
}

.warn {
    color: red;
    text-align: center;
}

.login-form {
    max-width: 450px;
    margin: 100px auto;
    background-color: white;
    box-shadow: 0px 2px 2px rgba(0.5, 1, 1, 2);
    padding: 20px 35px;
    border-radius: 20px;
}

.footer-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-end{
    display: flex;
    align-items: flex-end;
}


.scrollTopButton {
     width: 60px;
     height: 60px;
     position: fixed;
     visibility: hidden;
     overflow: hidden;
     z-index: 99999999;
     background-image: url(../img/arrow.png);
     right: 30px;
     bottom: 30px;
     transition: all 0.5s ease-in-out;
}

.scrollTopButton.show {
     visibility: visible;
     cursor: pointer;
     transition: all 0.5s ease-in-out;
}

.auto-scale-img {
    width: 100%;
    height: auto;
}

.ml-minus {
    margin-left: -35px;
}

.success-info{
    text-align: center;
    border-style: solid;
    border-color: green;
    background-color: #b3ffb3;
    opacity: 0.6;
    color: black;
}

.invalid-login{
    text-align: center;
    border-style: solid;
    border-color: red;
    background-color: #f57d7d;
    opacity: 0.6;
    margin-bottom: 20px;
    color: black;
}

.scroll-weather {
    width: 100%;
    background-color: #bbf1bb;
    white-space: nowrap;
}

.input-form {

}




