<div class="color-row margin-bot">
    <h2>Linki</h2>
    <ul> 
        <li>
            <a href="https://www.codewars.com/users/Daw90" target="_blank" rel="noopener noreferrer">
                Codewars
            </a> 
        </li>  
        <li>              
            <a href="https://github.com/Daw990" target="_blank" rel="noopener noreferrer">
                Github
            </a> 
        </li>  
        <li>              
            <a href="https://www.linkedin.com/in/dawid-marsza%C5%82kowski-5115071a9/" target="_blank" rel="noopener noreferrer">
                LinkedIn
            </a> 
        </li>  
    </ul>  
        <h2>Menu</h2>
        <ul>
            <li>
                <a href="/">O mnie</a>
            </li>
            <li>
               <a href="/projects.html">Projekty</a>
               <ul>
                <li>
                    <a href="/projects.html#hairdresser">hairdresserSaveData</a> 
                </li>
                <li>
                    <a href="/projects.html#carsharing">Car-Sharing-RestApi</a> 
                </li>
                <li>
                    <a href="/projects.html#carmechanic">Car-Mechanic</a> 
                </li>
                <li>
                    <a href="/projects.html#oauth">OAuth with Google and GitHub</a> 
                </li>
                <li>
                    <a href="/projects.html#quiz">Android-Studio-Quiz</a> 
                </li>
               </ul>
           </li>
            <li>
                <a href="/contact.html">Kontakt</a>
            </li>
        </ul>            
</div>